body,html{height:100%;}
body {
	font-size: 12px;
	margin: -2px 0px 0px 0px; 
	padding:0px;
}

.hidden{
	display:none;
}

.panel {
	width: 100%;
	/*height:100%;*/
	/*padding-bottom: 20px;*/
}

div.panel-top {
	margin: 0px 5px 0 5px;
}

div.panel-body{
	margin: 2px 5px 0 5px;
}

.panel-topbar {
	margin: 0 5px 0 5px;
}

.panel-nav {
	margin: 5px 5px 0 5px;
}

.date,.datetime{
	background: url(../images/datePicker.gif) no-repeat scroll right center #FFFFFF;
    border: 1px solid #999999;
    /*height: 20px;*/
}

.tbar-title {
	padding-left: 5px; 
	margin-top: 0px;
	border: 1px #c3d825 solid;
	height: 24px;
	padding-top: 5px;
	font-size: 13px;
	font-weight: bold;
	background: url(../images/list_title_bg.jpg) repeat-x;
}
span.tbar-label{
	color:#fff;
}
.panel-toolbar {
	padding-left: 4px;
	border-bottom: 1px #c3d825 solid;
    border-left: 1px #c3d825 solid;
    border-right: 1px #c3d825 solid;
	height: 24px;
	padding-top: 4px;
	/*
	background: #dff5fd;
	*/
	background:#f1fac1;

}

/*
.pageTitle{
	float:left;
	font-weight: bold;
	padding-left: 6px;
}

.toolBar{
	float:right;
	padding-right: 6px;
}
*/

.panel-toolbar a {
	text-decoration: none;
	color: blue;
	float: left;
	margin-left: 2px;
}

.tree-toolbar {
	padding-left: 2px;
	border-top: none;
	border-bottom: none;
	border: 1px #c3d825 solid;
	height: 21px;
	padding-top: 4px;
	/*
	background: url(../images/menu_select_bg.jpg) repeat-x;
	*/
	background:#dcf053;
}

.tree-toolbar a {
	text-decoration: none;
	color: blue;
	float: left;
	margin-left: 5px;
}

.panel-data {
	margin: 5px 5px 0 5px;
}

.group{
	margin-right: 2px;
	margin-left:0px;
	padding-left:0px;
	float:left;
}


.panel-search {
	min-width: 450px;
	border-bottom: 1px #c3d825 solid;
	border-left: 1px #c3d825 solid;
	border-right: 1px #c3d825 solid;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0 0 0 0;
	
}

.bar-button,.link-btn {
	padding-left: 22px;
	height: 20px;
	width: auto;
	padding-top: 2px;
	padding-right: 8px;
	cursor: pointer;
}

.inputText {
	border: 1px solid #abc1d1;
	padding:2px;
}

.panel-search input,.panel-search button {
	margin: 4px 4px 6px 4px;
	padding: 2px 1px 2px 1px;
}



.panel-detail{
	margin: 5px 5px 5px 5px;
}

.table-grid {
	border: 1px solid #c3d825;
    width:100%;
}



.table-grid thead {
	height: 32px;
}

.table-grid caption {
	border-width: 1px 1px medium;
	border-style: solid solid none;
	border-color: rgb(168, 207, 235) rgb(168, 207, 235) currentColor;
	height: 14px;
	text-align: left;
	color: rgb(28, 86, 138);
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	background-color: rgb(223, 234, 251);
}

.table-grid th {
	color: #102A49;
	height: 28px;
	padding-left: 5px;
	text-align: center;
	border: dotted 1px a8cfeb;
	white-space: nowrap;
	border-right: dotted 1px #cacaca;
	font-size: 12px;	
	background: url(../images/content_bg_sort.jpg) repeat-x;
}

div.header{
	background: url(../images/content_bg_sort.jpg) repeat-x;
	height: 30px;
	line-height:30px;
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

.table-detail {
	margin: auto;
	width:100%;
	margin-top: 6px;
}

.table-detail th {
	text-align: right;
	padding-right: 6px;
	color: #000;
	height: 32px;
	border: solid 1px #A8CFEB;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
	
	padding-right: 5px;
	border: 1px solid #c3d825;
	/*
	background-color: #edf6fc;
	*/
	background-color: #f1fac1;
}

.head {
	text-align: right;
	padding-right: 6px;
	color: #000;
	height: 32px;
	border: solid 1px #A8CFEB;
	font-weight: bold;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	padding-right: 5px;
	background-color: #edf6fc;
	padding-right: 5px;
	border: 1px solid #c3d825;
}

.table-detail textarea{
	margin:2px;
	border: 1px solid #abc1d1;
	padding:2px;
}

.table-detail td {
	border: solid 1px #c3d825;
	padding-left: 6px;
	text-align: left;
	font-size: 12px;
}

th a,th a:visited {
	color:#fff;
	text-decoration: none;
	font-weight: bold;
}

th a:hover {
	text-decoration: underline;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../images/displaytag/icon-sort-desc.gif);
	background-repeat: no-repeat;
	background-position: 80% 0%;
}

th.order2 a {
	background-image: url(../images/displaytag/icon-sort-asc.gif);
	background-repeat: no-repeat;
	background-position: 80% 0%;
}

.table-grid td {
	height: 22px;
	padding: 4px 4px 4px 4px;
	border-right: dotted 1px #cacaca;
	border-bottom: solid 1px #c3d825;
	text-align: left;
	padding-left: 5px;
	word-break: break-all; 
}

.even span,.odd span {
	cursor: pointer;
}

.table-grid .even {
	height: 22px;
	background-color: #fff;
}

.table-grid .odd {
	height: 22px;
	/*
	background: #f1f6ff;
	*/
	background:#f1fac1;
}

.table-grid .over {
	background: url(../images/content_bg_hover.jpg);
}


.area-export {
	text-align: right;
	clear: both;
	margins: 0;
	paddings: 0;
	border: 1px solid #c3d825;
	border-top: none;
	padding-top: 6px;
	height: 23px;
}

.area-export .exportlinks {
	display: inline-table;
	margin-right: 20px;
	text-align: right;
}

.area-export input {
	vertical-align: middle;
}

.area-export .exportlinks .export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

.exportlinks a {
	text-decoration: none;
}

.area-export .exportlinks .excel {
	background-image: url(../images/displaytag/ico_file_excel.png);
	background-repeat: no-repeat;
}

.area-export .exportlinks .csv {
	background-image: url(../images/displaytag/ico_file_csv.png);
	background-repeat: no-repeat;
}

.area-export .exportlinks .xml {
	background-image: url(../images/displaytag/ico_file_xml.png);
	background-repeat: no-repeat;
}

.area-export .exportlinks .pdf {
	background-image: url(../images/displaytag/ico_file_pdf.png);
	background-repeat: no-repeat;
}

.area-export .exportlinks .rtf {
	background-image: url(../images/displaytag/ico_file_rtf.png);
	background-repeat: no-repeat;
}

.panel-page {
	border: 1px #c3d825 solid;
	border-top: none;
	height: 28px;

	background: url(../images/tool_bg.jpg) repeat-x;
}

.l-panel-bbar-inner {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.btn-go {
	width: 43px;
	height: 21px;
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
	background: url(../images/trun_button2.jpg) no-repeat 0 1px;
	border: none;
	cursor: pointer;
}

.panel-page img {
	cursor: pointer;
}



label.error {
	background: url(../images/valid/unchecked.gif) no-repeat 0px 0px;
	margin-left: 16px;
	padding-left: 16px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #EA5200;
}

label.checked {
	background: url(../images/valid/checked.gif) no-repeat 0px 0px;
}



span.red{font-weight: bold;color: red;}
span.green{font-weight: bold;color: green;}
span.brown{font-weight: bold;color: brown;}





a.link{
	padding-left:20px;cursor: pointer; 
	color: blue;font-size:12px;
	text-decoration: none;
}

a.link.disabled{
	color: gray;
}

a.link:hover{

	text-decoration: underline;
}

a.link.search{
	background:url(../images/icons/icons_search.png) 0px 1px no-repeat;
}

a.link.add{
	background:url(../images/icons/icons_add.png) 0px -1px no-repeat;
}

a.link.del{
	background:url(../images/icons/icons_del.png) 0px -1px no-repeat;
}

a.link.save{
	background:url(../images/icons/icons_save.png) 0px -3px no-repeat;
}

a.link.back{
	background:url(../images/icons/icons_back.png) 0px -4px no-repeat;
}

a.link.urge{
	background:url(../images/icons/alarm-clock.png) 0px 0px no-repeat;
}

a.link.init{
	background:url(../images/menu/init.png) 0px 0px no-repeat;
}

a.link.show{
	background:url(../images/menu/show.gif) 0px -2px no-repeat;
}

a.link.no{
	background:url(../images/menu/no.png) 0px -2px no-repeat;
}

a.link.undo{
	background:url(../images/menu/undo.png) 0px 0px no-repeat;
}

a.link.redo{
	background:url(../images/menu/redo.png)  0px 0px no-repeat;
}

a.link.update{
	background:url(../images/menu/update.gif)  0px -2px no-repeat;
}

a.link.upload{
	background:url(../images/menu/upload.png) 0px -2px no-repeat;
}

a.link.xml-bpm{
	background:url(../images/menu/xml-bpm.png) 0px 0px no-repeat;
}

a.link.reload{
	background:url(../images/icon/reload.png) 0px  1px no-repeat;
}

a.link.xml-design{
	
	background:url(../images/menu/xml-design.png) 0px 0px no-repeat;
}

a.link.preview{
	background:url(../images/menu/preview.png) 0px 0px no-repeat;
}

a.link.expand{
	background:url(../images/icon/expand.gif) 0px -0px no-repeat;
}

a.link.collapse{
	background:url(../images/icon/collapse.gif) 0px -0px no-repeat;
}

a.link.moveup{
	background: url(../images/menu/moveup.png) 0px 1px no-repeat;
}

a.link.movedown{
	background: url(../images/menu/movedown.png) 0px 1px no-repeat;
}

a.link.next{
	background:url(../images/button/next.gif) 0px 1px no-repeat;
}

a.link.prev{
	background:url(../images/button/prev.gif) 0px 1px no-repeat;
}


a.link.edit{
	background:url(../images/icons/icons_edit.png) 0px -2px no-repeat;
}

a.link.copy{
	background:url(../images/button/copy.jpg) 0px -0px no-repeat;
}

a.link.test{
	background: url(../images/button/test.gif) 0px -2px no-repeat;
}

a.link.detail{
	background:url(../images/icons/icons_detail.png) 0px -2px no-repeat;
}

a.link.flowDesign{
	background: url(../images/button/flow_design.png) 0px -2px no-repeat;
}

a.link.dataList{
	background: url(../images/icons/icons_dataList.png) 0px -2px no-repeat;
}

a.link.uploadPhoto{
	background: url(../images/button/uploadPhoto.gif) 0px -2px no-repeat;
}

a.link.run{
	background: url(../images/button/run.png) 0px 0px no-repeat;
}

a.link.goForward{
	background: url(../images/button/goForward.gif) 0px 0px no-repeat;
}

a.link.resetPwd{
	background: url(../images/button/resetPwd.png) 0px -2px no-repeat;
} 

a.link.get{
	background:url(../images/button/get.gif)  0px -2px no-repeat;
}

a.link.clean{
	background: url(../images/button/clean.gif)  0px 2px no-repeat;
}


a.link.download{
	background: url(../images/button/download.png)  0px 1px no-repeat;
}


a.link.reload{
	background: url(../images/button/reload.png)  0px 1px no-repeat;
}

a.link.upload{
	background: url(../images/button/upload.png) 0px 1px no-repeat;
}


a.link.var{
	background: url(../images/bpm/code.gif) 0px 0px no-repeat;
}

a.link.backUp{
	background: url(../images/button/backUp.gif) 0px -2px no-repeat;
}

a.link.setting{
	background: url(../images/menu/setting.png) 0px 1px no-repeat;
}

a.link.grant{
	background: url(../images/menu/grant.png) 0px 0px no-repeat;
}

a.link.deploy{
	background: url(../images/icon/deploy.gif) 0px 0px no-repeat;
}

a.link.auth{
	background: url(../images/button/auth.gif) 0px -2px no-repeat;
}

a.link.lock{
	background: url(../images/menu/lock.png) 0px -2px no-repeat;
}

a.link.unlock{
	background: url(../images/menu/unlock.png) 0px 0px no-repeat;
}

a.link.newVersion{
	background: url(../images/icons/newVersion.gif) 0px -2px no-repeat;
}

a.link.cancel{
	background: url(../images/icon/cancel.gif) 0px 2px no-repeat;
}
a.link.selectFile{
	background: url(../images/icon/file.gif) 0px 2px no-repeat;
}

a.link.print{
	background: url(../images/icon/print.gif) 0px -2px no-repeat;
}

a.link.printSetting{
	background: url(../images/icon/printSetting.gif) 0px 2px no-repeat;
}

a.link.printPreView{
	background: url(../images/icon/printPreView.gif) 0px 2px no-repeat;
}

a.link.sendMessage{
	background: url(../images/icon/sendMessage.gif) 0px -3px no-repeat;
}

a.link.addMessage{
	background: url(../images/icon/addMessage.gif) 0px -2px no-repeat;
}

a.link.parameter{
	background: url(../images/button/parameter.png) 0px -2px no-repeat;
}

a.link.close {
	background: url(../images/menu/close.gif) 0px -2px no-repeat;
}


a.link.primary {
	background: url(../images/icon/primary.gif) 0px -2px no-repeat;
}

a.link.notPrimary {
	background: url(../images/icon/notPrimary.gif) 0px -2px no-repeat;
}

a.link.charge {
	background: url(../images/icon/charge.gif) 0px -2px no-repeat;
}

a.link.noCharge {
	background: url(../images/icon/noCharge.gif) 0px -2px no-repeat;
}

a.link.reject {
	background: url(../images/icon/reject.gif) 0px -2px no-repeat;
}

a.link.rejectToStart {
	background: url(../images/icon/rejectToStart.gif) 0px -2px no-repeat;
}

a.link.agree{
	background: url(../images/button/run.png) 0px 0px no-repeat;
}

a.link.notAgree{
	background: url(../images/button/refuse.gif) 0px 0px no-repeat;
}

a.link.abandon{
	background: url(../images/button/giveup.gif) 0px 0px no-repeat;
}

a.link.addWebSigns{
	background:url(../images/button/addWebSigns.gif) 0px 0px no-repeat;
}

a.link.addHangSigns{
	background:url(../images/button/addHangSigns.gif) 0px 0px no-repeat;
}

a.link.history{
	background:url(../images/icons/icons_search.png) 0px 1px no-repeat;
}
a.link.log{
	background:url(../images/icons/log_btn.png) 0px 1px no-repeat;
}

a.link.table{
	background:url(../images/menu/table.gif) 0px 1px no-repeat;
}

a.link.stop{
	background:url(../images/icon/stop.png) 0px 1px no-repeat;
}






.link-sortUp {
	background: url(../images/menu/arrow-up.png) no-repeat !important;
	text-decoration: none;
}

.link-sortDown {
	background: url(../images/menu/arrow-down.png) no-repeat !important;
	text-decoration: none;
}

.link-sortTop {
	background: url(../images/menu/sort_top.png) no-repeat !important;
}

.link-sortBottom {
	background: url(../images/menu/sort_bottom.png) no-repeat !important;
}

/*==================end of link button===============================*/


div.bottom{text-align: center;align:center;padding-top: 6px;}



a.button:link { text-decoration: none;}

a.button {
	display: inline-block;
	text-decoration:none;
	cursor:pointer;height:15px; 
	line-height: 15px; 
	background:url(../images/button/button.gif) no-repeat left 0px;
	color:#000;  
	padding:5px 0px 5px 10px; 
	font-size: 12px;
	text-align: center;
}

a.button span{ 
	display: inline-block;
	height:15px; 
	line-height: 15px;
	white-space:nowrap; 
	background:url(../images/button/button.gif) no-repeat right  0px;
	color:#000; 
	padding:5px 10px 5px 3px; 
	font-size: 12px;
	text-align: center;
	margin: -5px -2px 0px 0px; 
}

a.button span.icon{
	height:0px;
	display: inline-block;
	padding:10px 2px 10px 16px;
	width:0px;
	margin-top:-5px;
	margin-bottom:-5px;
}

a.button:hover {
	background:url(../images/button/button_over.gif) no-repeat left 0px;
}
a.button:hover span{
	background:url(../images/button/button_over.gif) no-repeat right 0px;
	margin: -5px -2px 0px 0px;
}

a.button:hover span.icon{
	height:0px;
	display: inline-block;
	padding:10px 2px 10px 16px;
	width:0px;
	margin-top:-5px;
	margin-bottom:-5px;
}
/**
	
*/
a.button span.icon.save{
	background: url(../images/icons/icons_save.png) no-repeat -2px -2px;
}

a.button span.icon.ok{
	background: url(../images/icon/ok.gif) no-repeat 0px 3px;
}

a.button span.icon.upload{
	background: url(../images/button/upload.png) no-repeat 0px 3px;
}


a.button span.icon.cancel{
	background: url(../images/icon/cancel.gif) no-repeat 0px 3px;
}

a.button span.icon.valid{
	background: url(../images/icon/valid.gif) no-repeat 0px 3px;
}



/*
	
*/
a.tipinfo{
	background:url(../images/icon/help.gif) 0px -2px no-repeat;
	padding-left: 20px;
	line-height: 20px;
	text-decoration: none;
	position: relative;
}
a.tipinfo span{
	display: none;
}
a.tipinfo:hover span{
	position:absolute;
	top:0px;
	left:25px; 
	width:200px;
	font-weight:bold;
	color:red;
	font-size:14px;
	display:inline;
	padding:3px 3px 3px 3px;
	word-break:break-all;
	border: 1px solid #A4BED4;
	background-color:#E4EFFD;
	line-height: 20px;
	text-decoration: none; 
}
/**个人照片居中**/
.person_pic_div {
	width: 400px;
	height: 480px;
	overflow: hidden;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}
.person_pic_div p {   
  position:static;   
  *position:absolute;   
  top:50%   
}   
.person_pic_div p img {   
  position:static;
  *position:relative;
  top:-50%;
  left:-50%;
}
/* link search icon widthout event bind */
a.link.search2{
	background:url(../images/icons/icons_search.png) 0px 1px no-repeat;
}
a.link.update2 {
	background: url("../images/menu/update.gif") 0px 1px no-repeat;
}