.log_{
	position: absolute;
	top: 2px;
	left: 20px;
	width: 20%;
}
.log_ img{
	width: 100%;
}
.right_top_text{
	position: absolute;
    top: 2px;
    right: -0.1%;
    width: 40%;
}
.right_bottom_text{
	position: absolute;
    bottom: 3%;
    right: 0;
    width: 45%;
}

.right_bottom_chn {
	letter-spacing: 0px;
	font-size: 15px;
}

.right_bottom_eng {
	font-family: "微软雅黑";
	letter-spacing: -1.1px;
}